$theme-colors: (
  "primary": #166285,
  "secondary": #4f4f52,
  "third": #577717,
  "fourth": #3f7679,
  "fifth": #ac5b2c,
);

@import "bootstrap/scss/bootstrap";

body {
  background-color: antiquewhite;
}

#game_list {
  margin: 2em auto;
  gap: 2em;
  align-items: center;
  justify-content: center;

  .game_card {
    width: 400px;
    height: 350px;
    text-align: center;
  }

  a {
    text-decoration: none;
  }
}
